.Main{
    width: 100%; 
    display: flex;
}
.container{
    width: 26%;
    height: 100%;
   
}
.Navbar{
    position: fixed;
    backdrop-filter: blur(5px);   
}
.middleContainer{
    width: 40%;
}
.rightContainer{
    width:34%;
    height: 100%;
}
/* .main::-webkit-scrollbar{
    display: none;
} */
@media only screen and (max-width:1280px){
    .container{
        width: 12%;
    }
    .middleContainer{
        width: 44%;
    }
    .rightContainer{
        width:30%;
        
    }
   

  }
  @media only screen and (max-width:1005px){
    .container{
        width: 12%;
    }
    .middleContainer{
        width: 87%;
    }
    .rightContainer{
        display: none;
     }

  }

 body{
    background-color: black;
 }



/* @media only screen and (max-width:1024px){
   
    .middleContainer{
        width: 100%;
    }
} */


@media only screen and (max-width:500px){
    .rightContainer{
        display: none;
     }
     .middleContainer{
         width: 100%;
     }
     .container{
       display: none;
    }

}